#Sometext{
width: 80%;
height: 35px;
outline: none;
border: 2px solid blue;
border-radius: 7px;}
#Sometext:focus{color: green;
border-color:green}
button:{height: 29px;
width: 70px;
margin: 0px;
color: green;
position: relative;
right: 6px;}
button:hover{color: black;}
h1:hover{color: orange;}


